.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282C34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
  margin-bottom: 3rem;
}

.main {
  font-size: 2rem;
}

h3 {
  color: #6614CB;
  border-bottom: 2px solid #282C34;
  width: max-content;
  margin: 0 auto;
  padding-bottom: 10px;
}

img {
  object-fit: contain;
  width: 100%;
  height: 40vh;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px;
}


[type="file"] {
  padding: 0.3rem 1rem;
  border: 2px solid #6614CB;
  border-radius: 0.25rem;
  font-size: 20px;
}

.button {
  position: relative;
  background-color: #387AEA;
  border-radius: 4em;
  font-size: 16px;
  color: #FFFFFF;
  padding: 0.8em 1.8em;
  cursor: pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
}

.button:hover:enabled {
  transition-duration: 0.1s;
  background-color: #6614CB;
}

.button:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px #FFFFFF;
}

.button:active:after {
  box-shadow: 0 0 0 0 #FFFFFF;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.button:active {
  top: 1px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

[type="submit"] {
  padding: 0.5rem 0.75rem;
  font-size: 20px;
  background-color: #6614CB;
  margin-left: 1.5rem;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  color: #FFFFFF;
}

.error {
  padding: 1.5rem 0rem;
  height: 1vh;
  font-size: 18px;
  color: #F64670;
}


.display {
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  margin-top: 1rem;
}

.images {
  flex-grow: wrap;
  padding: 0rem 1.5rem;
  width: auto;
}

.ipfsImage {
  width: 45%;
  border-radius: 0.5rem;
  border: 2px solid #6614CB;
  padding: 1.5em;
}

.ipfsUrl {
  padding: 1.5rem 0rem;
  font-size: 1rem;
  color: #6614CB;
  overflow: auto;
}